@font-face {
    font-family: digital;
    font-style: normal;
    font-weight: 400;
    src: url("../../assets/icons/webfont/digital-dismay.regular.otf") format("opentype");
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

:root {
    /*--white-color: #fff;*/
    --black-color: #18191a;
    --red-color: #e74c3c;
}

.donkers-clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    position: relative;
    width: 200px;
    height: 200px;

    .digital, .date {
        color: #389844;
    }

    .digital-back, .date-back {
        color: light-dark(rgba(0,0,0,0.05),rgba(255,255,255,0.05));
        border:1px solid var(--bs-border-color) !important;
    }

    .indicator {
        position: absolute;
        height: 10px;
        width: 10px;
        display: flex;
        justify-content: center;
        z-index: 100;

        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            border-radius: 50%;
            z-index: 39;
            background: var(--black-color);
            border: 4px solid var(--red-color);
        }

        .hand {
            position: absolute;
            height: 80px;
            width: 2px;
            bottom: 5px;
            border-radius: 25px;
            transition: none;
            transform-origin: bottom;
            background: var(--red-color);
            z-index: 30;
            /*noinspection CssUnresolvedCustomProperty*/
            box-shadow: var(--shadow-x) var(--shadow-y) 4px rgba(33, 33, 33, 0.25);
            will-change: transform;

            &.minute {
                height: 75px;
                width: 4px;
                background: var(--bs-body-color);
                /*noinspection CssUnresolvedCustomProperty*/
                box-shadow: var(--shadow-mx) var(--shadow-my) 4px rgba(33, 33, 33, 0.25);
            }

            &.hour {
                height: 55px;
                width: 4px;
                z-index: 15;
                background: var(--bs-body-color);
                /*noinspection CssUnresolvedCustomProperty*/
                box-shadow: var(--shadow-hx) var(--shadow-hy) 4px rgba(33, 33, 33, 0.25);
            }
        }
    }

    .clock {
        display: flex;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        /*noinspection CssInvalidFunction*/
        background: var(--bs-backdrop-bg);
        border: 1px solid var(--bs-border-color);
        position: relative;
        z-index: 3;

        label {
            position: absolute;
            inset: 5px;
            text-align: center;
            /*noinspection CssUnresolvedCustomProperty*/
            transform: rotate(calc(var(--i) * (360deg / 12)));

            .h24 {
                display: inline-block;
                font-size: 7px;
                font-weight: 600;
                color:var(--donkers-color-accent-7);
                z-index: 2;
                /*noinspection CssUnresolvedCustomProperty*/
                transform: rotate(calc(var(--t) * (-360deg / 12)));
                will-change: transform;
            }

            span {
                display: inline-block;
                font-size: 15px;
                font-weight: 600;
                color: var(--bs-secondary-text-emphasis);
                /*noinspection CssUnresolvedCustomProperty*/
                transform: rotate(calc(var(--i) * (-360deg / 12)));
                will-change: transform;
            }

            &.h24l {
                position: absolute;
                inset: 18px;
                text-align: center;
                /*noinspection CssUnresolvedCustomProperty*/
                transform: rotate(calc(var(--t) * (360deg / 12)));
                will-change: transform;
            }
        }

        .minute-marker {
            position: absolute;
            width: 0;
            height: 50%;
            top: 0;
            left: 50%;
            transform-origin: center bottom;

            span {
                display: block;
                opacity: 0.25;
                background:red;
                width: 2px;
                height: 5px;
                transform: translate(-50%, 0);
            }

            .large-marker {
                height: 8px !important;
                width: 3px;
                background:var(--bs-body-color);
            }

            .small-marker {
                height: 5px !important;
                width: 1px !important;
                background: var(--bs-body-color);
            }
        }
    }

    .digital {
        font-family: digital, sans-serif;
        font-size: 17px;
        position: absolute;
        top: 65.5%;
        z-index: 3;
        border-radius:5px;
        padding-left:10px;
        padding-right:10px;

        .digital-hours, .digital-minutes {
            font-family: digital, sans-serif;
            letter-spacing: 0 !important;
        }
    }

    .digital-back {
        display: inline;
        font-family: digital, sans-serif;
        font-size: 17px;
        position: absolute;
        top: 65%;
        z-index: 3;
        border:1px solid transparent;
        border-radius:5px;
        padding-left:10px;
        padding-right:10px;
        letter-spacing: 0 !important;
    }

    .date {
        font-family: "digital", sans-serif;
        font-size: 17px;
        position:absolute;
        top: 43%;
        right: 19%;
        border:1px solid transparent;
        border-radius:5px;
        z-index:4;
        width: 30px;
        text-align: center;
    }

    .date-back {
        font-family: "digital", sans-serif;
        font-size: 17px;
        position:absolute;
        top: 43%;
        right: 19%;
        border:1px solid var(--bs-border-color);
        border-radius:5px;
        z-index:3;
        width: 30px;
        text-align: center;
    }

    .colon {
        display: inline-block;
        font-family: digital, sans-serif;
        width: 7px;
        animation: blink 1s step-start infinite;
    }
}